/*
  Reset some basic elements
*/

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/*
  Basic styling
*/

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  // font-weight: bold;
  font-weight: 500; // medium
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

h1 {
	margin-top: 2.0em;
	font-size: 2.1rem;
	font-family: $code-font-family, monospace;
	font-weight: 500;
	// font-weight: normal;
}
	  
	
h2 {
  margin-top: 2.0rem;
  font-size: 1.8rem;
  border-bottom: 1px solid #b0bec5;
  padding-bottom:6px;  
  padding-top:12px;  
}


h3 {
  margin-top: 2rem;
  font-size: 1.4rem;
  border-bottom: 1px solid #b0bec5;
  padding-bottom:6px;  
  padding-top:12px;  
}

h4, h5, h6 {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  padding-top:6px;  
}

/* Body */
body {
	font-family: $base-font-family;
	font-weight: 400;
	font-size: 1.15em;
}

body img {
    align: middle;
    margin: 5px auto auto auto;
    display: block;
    max-width: 600px;
	padding: 0px 10px 0px 0px;
}

p {
  display: block;
  margin-top: 1.1em;
  margin-bottom: 1.1em;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.5;
  font-family: $body-font-family;
}

/* Lists */
ul, ol, dl {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  font-family: $body-font-family;
}

ol li {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

li {
  margin-bottom: 1rem;
  line-height: 1.5;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

/*
  Links
*/

a {
	color: $brand-color;
	text-decoration: none;
	&:hover {
		color: lighten($brand-color, 25);
		text-decoration: underline dotted;
	}
}


/*
  Blockquote
*/

blockquote {
  margin: 10px auto;
  padding: 0px 1em;
  width:90%;
  border-left: 0.25em solid #b0bec5;
  color: #90a4ae;
  line-height: 1.5;
  
}

/**
 * Tables
 */
//  table {
//      border-collapse: collapse;
//      margin-bottom: 30px;
//      width: 100%;
//  }

//  table, th, td {
//      border: 2px solid rgb(227, 231, 233);
//  }
//  th, td {
//      padding: 5px;
//      text-align: left;
//  }


table {
  width:95%;
  border-collapse:collapse;
  font-size: 1.05rem;
  margin-bottom: 30px;
}

th, td {
  text-align:left;
  padding:5px 10px;
  // border-bottom:1.5px solid #e5e5e5;
  color: rgb(45, 48, 49);
}

tr:nth-child(even) { 
  background-color: rgb(242, 245, 247); 
} 

tr {
  &:hover {
    background-color: lighten( rgb(242, 245, 247), 2) 
  }
}

th {
  color: rgb(65, 69, 71);
  font-weight: bold;
  // background-color: rgb(227, 231, 233); // gris claret
  background-color: rgb(242, 245, 247); // gris més claret
}


/// Styles
.verticalmiddle {
    vertical-align: middle;
}

.verticalbottom {
    vertical-align: bottom;
}

.headerlogo {
	vertical-align: top;
	padding-top: 0.25rem;
}

.circular-square {
	border-radius: 50%;
}
