.site-header {
  min-height: 56px;
  width: $container-width;
  // position: fixed;
  background-color: white;
  box-shadow: 0 5px 6px -6px #bbb;
  z-index: 100;
}
@media (max-width: $container-width) {
  .site-header {
      min-height: 56px;
      width: 95vw;
      // position: fixed;
      background-color: white;
      box-shadow: 0 5px 6px -6px #bbb;
      z-index: 100;
  }
}
.site-header a {
  text-decoration: none;
}
.site-title {
  font-size: 1.7rem;
  font-weight: bold;
  // font-style: italic;
  line-height: 56px;
  font-family: $code-font-family, monospace;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 4px;
  padding-right: 4px;
  float: left;
}
.menu-list {
  line-height: $header-thickness;
  float: right;
}
.menu-link {
  padding: 3px 10px;
}

/*
  Responsiveness with a dropdown menu
*/

@media (min-width: $container-width) {
  .dropbtn {
    display: none;
  }
  .dropdown-content {
    display: none;
  }
}
@media (max-width: $container-width) {
  .menu-list {
    display: none;
  }
  .site-title {
    padding-right: 1rem;
    // padding-right: 10px;
    float: right;
  }
  .dropbtn {
      background-color: white;
      color: $brand-color;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 4px;
      font-size: 18px;
      border: none;
      cursor: pointer;
  }
  .dropdown {
      position: relative;
      display: inline-block;
  }
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #ffffff;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
      z-index: 1;
  }
  .dropdown-content a {
      color: black;
      padding: 8px 12px;
      text-decoration: none;
      display: block;
  }
  .dropdown-content a:hover {
    background-color: rgb(242, 245, 247)
  }
  .dropdown:hover .dropdown-content {
      display: block;
  }
  .dropdown:hover .dropbtn {
      background-color: rgb(242, 245, 247);
  }
}
