$icon-transition-time: 0.2s;
$envelope-color: #f39c12;
$twitter-color: #00aced;
$bluesky-color: #009dff;
$instagram-color: #375989;
$github-color: #343434;
$linkedin-color: #0073a4;
$facebook-color: #3d5b99;
$google-color: #e64a41;
$pinterest-color: #bd081c;
$medium-color: rgb(171, 0, 51);
$codepen-color: black;
$rss-color: #ffb300;
$mastodon-color: #5C4CE2;
$orcid-color: rgb(108, 197, 25);

@mixin social-media-icon($color, $transition){
  -webkit-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
  &:hover{
    color: $color;
  }
}

.fa-envelope {
  padding: 2px;
  @include social-media-icon($envelope-color, $icon-transition-time);
}

.fa-twitter {
  padding: 2px;
  @include social-media-icon($twitter-color, $icon-transition-time);
}

.fa-instagram {
  padding: 2px;
  @include social-media-icon($instagram-color, $icon-transition-time);
}

.fa-github {
  padding: 2px;
  @include social-media-icon($github-color, $icon-transition-time);
}

.fa-linkedin {
  padding: 2px;
  @include social-media-icon($linkedin-color, $icon-transition-time);
}

.fa-orcid {
	padding: 2px;
	@include social-media-icon($orcid-color, $icon-transition-time);
  }
  
.fa-info-circle {
  padding: 2px;
  @include social-media-icon($orcid-color, $icon-transition-time);
}

// .fa-facebook {
//   padding: 2px;
//   @include social-media-icon($facebook-color, $icon-transition-time);
// }

.fa-google {
  padding: 2px;
  @include social-media-icon($google-color, $icon-transition-time);
}

.fa-pinterest {
  padding: 2px;
  @include social-media-icon($pinterest-color, $icon-transition-time);
}

.fa-medium {
  padding: 2px;
  @include social-media-icon($mastodon-color, $icon-transition-time);
}

.fa-codepen {
  padding: 2px;
  @include social-media-icon($codepen-color, $icon-transition-time);
}

.fa-rss-square {
  padding: 2px;
  @include social-media-icon($rss-color, $icon-transition-time);
}

// .fa-mastodon {
//   padding: 2px;
//   @include social-media-icon($mastodon-color, $icon-transition-time);
// }

.fa-bluesky {
  padding: 2px;
  @include social-media-icon($bluesky-color, $icon-transition-time);
}

